
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Hind:wght@300;400;500;600;700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
  }

  body {
    width: 100vw;
    overflow-x: hidden;
  }

  .background-shape {
    position: absolute;
    z-index: -1;
  }

  /* sidebar */

    .sidebar {
      height: 100vh;
      width: 100vw;
      background-color: rgba(0, 0, 0, 0.737);
      position: fixed;
      z-index: 2;
    }

    .sidebar-header {
      height: 100vh;
      width: 300px;
      background-color: rgb(246, 246, 246);
      position: fixed;

    }

    .xmark {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 15px;
      top: 15px;
    }

    .sidebar img {
      width: 170px;
      padding: 20px 20px 10px;
    }

    .sidebar hr {
      opacity: 0.3;
    }

    .sidebar ul {
      padding: 20px;
      list-style: none;
    }
    .sidebar ul li:not(:last-child),  .sidebar ul li a:not(:last-child) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.147);
      padding-bottom: 10px;
      margin-bottom: 10px;
    }

    ul li a {
      text-decoration: none;
      color: rgb(42, 44, 47);
    }

    .sidebar-sublist {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      margin-left: 20px;
    }

    .sidebar-hidden {
      opacity: 0;
      transition: 0.5s ease-in-out;
    }


    .sidebar-header-hidden {
      transform: translateX(-400px);
      opacity: 0;
      transition: 0.5s ease-in-out;
    }
    .sidebar-header-show {
      transform: translateX(0);
      opacity: 0;
      transition: 0.5s ease-in-out;
    }
  
    .sidebar-none {
      display: none;
    }


    

/* header section */

.header {
    width: 100vw;
    background-color: #fff;
    position: fixed;
    z-index: 5;
    height: fit-content;
    display: none;
}

.navbar {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.homepage .navbar {
  padding-top: 25px;
}

.navbar img {
    height: 70px;
}

.navbar ul{
    display: flex;
    gap: 45px;
    margin-top: 20px;
}

.navbar ul li {
    list-style: none;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 650;
    color: rgb(42, 44, 47);
    font-size: 15.5px;
    cursor: pointer;
    transition: 0.3s ease;
}

.navbar ul li:hover, .course-submenu a:hover {
  color: rgb(82,95,225);;
}

.choose-course i {
  margin-left: 5px;
  font-size: 12px;
}

.course-submenu {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: absolute;
  background-color: white;
  padding: 30px;
  border-bottom: 2px solid rgb(82,95,225);
  margin-top: 20px;
  z-index: 5;
  visibility: hidden;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-20px);
  transition: 0.25s ease-in-out; 
}

.choose-course:hover .course-submenu {
  visibility: visible;
}

.course-submenu a {
  text-decoration: none;
  color: rgb(42, 44, 47);
  font-size: 15px;
  transition: 0.3s ease-in-out;
}


.choose-course:hover .course-submenu {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.under-hover {
  position: relative;
}

.under-hover::after{
  content: "";
  position: absolute;
  height: 2px;
  background-color: rgb(82,95,225);
  width: 0;
  left: 0;
  bottom: 0;
  transition: 0.3s ease-in-out;
}

.under-hover:hover::after {
 width: 40%;
}
.under-hover1:hover::after {
 width: 100%;
}


    /* first section homepage*/

    .hamburger {
      height: 40px;
      width: 40px;
      background-color: #fff;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      object-fit: cover;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      visibility: hidden;
    }

    @media(max-width:1200px) {
      .navbar ul {
        display: none;
      }
      .hamburger {
       visibility: visible;
      }
    .navbar {
      justify-content: space-between;
      padding: 0 20px;
    }
    }

.homepage {
    width: 100vw;
    height: 100vh;
    background-color: #ede5f2;
    background-image: linear-gradient(24deg, #ede5f2 0%, #ffecdb 50%, #f0e9f1 100%);
    font-family: "Nunito Sans", sans-serif;
    display: flex;
    flex-direction: column;
    position: relative;
    }

  .homepage-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    justify-content: baseline;
    }

    

.homepage-container .left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 50px 0;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.homepage-container .left-content {
    width: 65%;
    padding: 0 20px;
    min-width: 450px;
}

@media (max-width: 1600px){
  .homepage-container .left-content {
    width: 90%;
  }
}
@media (max-width: 1200px){
  .homepage {
    height: fit-content;
  }
  .homepage-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .homepage-container .right {
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .right-content .course {
    min-width: 40vw; 
  }
  .right-content .login {
    min-width: 40vw; 
  }
}

@media (max-width:550px){
  .homepage-container .right {
    flex-direction: column;
  }
  .right-content .course {
    min-width: 90vw; 
  }

  .homepage-container .left-content {
    width: 90%;
    padding: 0 20px;
    justify-content: center;
    min-width: 200px;
}
}



.left-content h4 {
    color: rgb(82,95,225);
    letter-spacing: 1px;
    font-weight: 800;
}

.left-content h1 {
    font-size: max(3.6vw,2rem);
    font-weight: 800;
    animation: textanim 1s ease;
}

.left-content p {
    color: rgb(111,107,128);
    font-size: max(1vw,14px);
    border-left: 2px solid rgb(82,95,225);
    padding-left: 1rem;
    margin-top: 1rem;
}
.left-content img {
    width: 90%;
    margin-top: 60px;
    animation: textanim 1s ease;
}

#shape1 {
  left: 20%;
  top: 15%;
}
#shape13 {
  left: 10%;
  bottom: 0;
}
#shape14 {
  left: 10%;
  bottom: 10%;
}

.whatsapp {
  object-fit: contain;
  width: 40%;
  height: auto;
  min-width: 250px;
}

#shape2 {
  left: 0;
  top: 0;
}
#shape5 {
  right: 20%;
  top: 5%;
}
#shape9 {
  right: 20%;
  bottom: 10%;
}
#shape12 {
  left: 10%;
  bottom: 0;
}

.homepage-container .right {
  display: flex;
  gap: 20px;
  position: relative;
  padding: 50px;
  z-index: 1;
  align-self: self-end;
}

.right .right-content {
    display: flex;
    width: fit-content;
    flex-direction: column;
    gap: 20px;
    align-items: flex-end;
    position: relative;
}

.right-content .course {
    height: fit-content;
    width: max(14vw,240px);
    background-color: white;
    border-radius: 5px;
    border: 15px solid white;
}

.course .image-con {
    height: fit-content;
    width: 100%;
    overflow: hidden;
    border-radius: 3px;

}

.image-con img {
    width: 100%;
    height: 100%;
    display: block;
    transition: 0.5s ease;
    cursor: pointer;
}

.course:hover img {
    scale: 1.1;
}

.course p, .login p {
    margin: 22px auto;
    font-size: max(0.9vw,15px);
    font-family: "Cabin", sans-serif;
    font-weight: bolder;
    letter-spacing: 1px;
    transition: 0.5s ease;
    cursor: pointer;
}

.course button, .login button {
    padding: 10px;
    background-color: rgb(247,111,4);
    color: #fff;
    border: none;
    border-radius: 5px;
    display: flex;
    gap: 12px;
    font-family: "Cabin", sans-serif;
    font-size: max(0.75vw,12px);
    transition: 0.5s ease;
    cursor: pointer;
}

.course button:hover, .login button:hover {
    background-color: rgb(82,95,225);
}

.course p:hover {
    color: rgb(82,95,225);
}

.right-content .login {
    height: max(9.8vw,fit-content);
    width: max(9.8vw,150px);
    background-color: white;
    border-radius: 5px;
    padding: 15px;
}


.down-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 10px;
  height: 10px;
  padding: 30px;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translate(50%, 50%);
  box-shadow: 1px 5px 71px -11px rgba(0,0,0,0.4);
}

/* second section about */

.about-container {
    display: flex;
    width: 100vw;
    font-family: "Nunito Sans", sans-serif;
    justify-content: right;
    overflow: hidden;
    padding-bottom: 100px;
}

.pictures {
    width: fit-content;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.pictures #first {
  width: 100%;
}

.pictures #second {
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 5px;
}
.pictures #third {
    position: absolute;
    padding: 10px;
    background-color: rgb(255, 255, 255,0.5);
    backdrop-filter: blur(4px);
    border-radius: 50%;
    top: 140px;
    left: 20px;
    animation: chakra 7s infinite linear;  
}

#shape10 {
  left: 70px;
  bottom: 80px;
}


.about-us {
  padding: 100px 250px 100px 100px;
  width: fit-content;
  position: relative;
}


.about-us h4 {
  color: rgb(82,95,225);
  letter-spacing: 1px;
  font-weight: 800;
}

.about-us p {
  width: 30vw;
  margin-top: 15px;
  color: rgb(61, 57, 57);
}


.about-us button {
    background-color:  rgb(82,95,225);
    color: white;
    padding: 20px 30px;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    display: flex;
    gap: 15px;
    margin-top: 50px;
    transition: 0.3s ease;
}

.about-us button:hover {
  background-color: rgb(0, 0, 38);
}


#shape15 {
  right: 10%;
  animation: running-anim 10s linear infinite;
}

@media (max-width:1200px){
  .about-us {
    padding: 100px;
  }
}
@media (max-width:1000px){
  .about-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .pictures {
    width: 70%;
  }
  .pictures #second {
    width: 30%;
  }
  .about-us {
    width: 70%;
    padding: 0;
  }
  .about-us p {
    width: 100%;
    display: inline;
  }
  #shape15 {
    display: none;
  }
}
@media (max-width:600px){

  .about-us,.pictures {
    width: 90%;
  }
  .pictures #second, .pictures #third, .pictures #shape10 {
    display: none;
  }
  .pictures {
    padding: 70px 20px;
  }
  .pictures #first {
    width: 100%;
  }
  .about-us button {
    font-size: 14px;
    padding: 15px 25px;
  }
}



/* third section course  */

.course-div {
    align-items: center;
    background-color: #ede5f2;
    background-image: linear-gradient(24deg, #ede5f2 0%, #ffecdb 50%, #f0e9f1 100%);
    min-height: 70vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 55px;
    overflow: hidden;
    padding: 100px 50px;
}

.course-container {
    display: flex;
    justify-content: center;
    position: relative;
    gap: max(7vw,50px);
    min-height: fit-content;
    width: fit-content;
}

.course1, .course2, .course3 {
    height: 270px;
    width: 270px;
    border-radius: 5px;
    position: relative;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s ease-in-out;
}

#shape10-repeat {
    position: absolute;
    left: 101%;
    transform: translateY(50%);
    width: 90px;
}

.course1:hover, .course2:hover, .course3:hover {
    transform: translateY(-15px);
}

.course1::after, .course2::after, .course3::after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: rgb(82,95,225);
    width: 0;
    left: 0;
    bottom: 0;
    transition: 0.3s ease-in-out;
}

.course1:hover::after, .course2:hover::after, .course3:hover::after {
   width: 100%;
}

.course-container h3 {
    width: 100%;
    height: 100%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.course-container img {
    width: 100%;
}

.heading {
    font-weight: 800;
    letter-spacing: 2px;
    color: rgb(82,95,225)
}

#shape16 {
    position: absolute;
    width: 200px;
    left: 110%;
    top: -120px;
}

#shape6{
    position: absolute;
    width: 110px;
    right: 115%;
    top: -120px;
}

#shape7{
    position: absolute;
    width: 50px;
    right: 115%;
    bottom: -70px;
}

@media (max-width:1100px) {
  .course-container {
    flex-wrap: wrap;
  }
}

@media (max-width:690px){
  .course-div{
    padding: 100px 20px;
  }
  .course1, .course2, .course3 {
    height: fit-content;
    width: 100%;
  }
  .course-container img {
    object-fit: contain;
  }
}


/*  fourth section popular course   */


.popular-course-div {
    width: 100vw;
    height: fit-content;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 150px 20px;
    overflow: hidden;
}

.popular-course-container {
    display: flex;
    margin-top: 20px;
    gap: max(1.5vw,20px);
    justify-content: center;
    align-items: center;
    width: fit-content;
    position: relative;
    z-index: 1;
}
.popular-course-div h1 {
    font-size: max(2.2vw,25px);
    font-weight: bolder;
    font-family: "Cabin", sans-serif;
}

.popular-course-div h4 {
    color: rgb(82,95,225);
    letter-spacing: 1px;
    font-weight: 800;
}
.cca, .com, .dom {
    padding: 22px;
    border-radius: 5px;
    position: relative;
    width: 370px;
    height: 440px;
    background-color: #F5F5F5;
    transition: 0.3s ease-in-out;
}

.cca hr, .com hr, .dom hr {
  border: 1px solid gray;
  opacity: 0.1;
}

.cca img, .com img, .dom img {
    transition: 0.3s ease-in-out;
    width: 100%;
    height: fit-content;
    display: block;
}
.cca .course-img-div,.com .course-img-div,.dom .course-img-div {
    overflow: hidden;
    border-radius: 5px;
    width: 100%;
}

.cca:hover img, .com:hover img, .dom:hover img {
    transform: scale(1.1);
}

.cca:hover, .com:hover, .dom:hover {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.popular-course-container i {
    padding-top: 20px;
    float: right;
}

.rating {
    color: rgb(142,139,155);
    font-weight: 400;
    padding-left: 10px;
}

.course-price {
    height: fit-content;
    position: absolute;
    bottom: 30px;
}

.discounted {
    padding: 7px 16px;
    background-color: rgb(82,95,225);
    color: white;
    font-weight: 700;
    border-radius: 5px;
    margin-right: 20px;
    cursor: default;
    font-size: max(0.8vw,13px);
}
.mrp {
    text-decoration: line-through;
    color: rgb(142,139,155);
    font-weight: 400;
    cursor: default;
    font-size: max(0.8vw,13px);
}

.popular-course-container p {
    font-size: 19px;
    font-weight: 700;
    margin: 50px 0 20px;
    text-align: left;
    cursor: pointer;
    transition: 0.3s ease;
}

.popular-course-container p:hover {
    color: rgb(82,95,225);
}

#shape17 {
  top: -20%;
  left: -20%;
}

#shape18 {
  right: -18%;
  animation: running-anim 15s infinite linear;
}

#shape19 {
  right: -15%;
  bottom: 5%;
}

#shape21 {
  top: 30%;
  left: -20%;
  animation: running-anim 15s infinite linear;
}

@media (max-width:1200px) {
  .popular-course-div {
    padding: 50px 10px;
  }
  .popular-course-container {
    flex-wrap: wrap;
  }
}

@media (max-width:450px) {
  .popular-course-container{
    padding: 20px;
  }

  .cca, .com, .dom {
    width: 100%;
  }
}

@media (max-width:400px){
  .cca, .com, .dom {
    width: 100%;
    height: max(100vw,370px);
  }
  .popular-course-container p {
    font-size: 16px;
  }

}


/* fifth section testimonial */

.testimonial-div {
    background-color: #ede5f2;
    background-image: linear-gradient(24deg, #ede5f2 0%, #ffecdb 50%, #f0e9f1 100%);
    width: 100vw;
    min-height: 95vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.testimonial-div h4 {
  color: #525FE1;
  font-weight: 800;
  letter-spacing: 1px;
  margin-top: 20px;
}

.testimonial-div h1 {
  font-size: max(2.2vw,25px);
  font-weight: bolder;
  font-family: "Cabin", sans-serif;
  margin-bottom: 50px;
}

.testimonial-con {
  width: fit-content;
  display: flex;
  align-items: flex-end;
  gap: 8%;
  position: relative;
  z-index: 1;
  padding: 20px;
}

#testimonial-ad {
  width: 28vw;
  min-width: 400px;
  height: fit-content;
  object-fit: cover;
}

#shape3 {
  left: -60px;
  bottom: -60px;
}

#shape9-repeat {
  right: -20%;
  bottom: -5%;
}

#shape29 {
  left: -20%;
  top: -20%;
}
#shape30 {
  right: -20%;
  top: -20%;
}

iframe {
  width: 100%;
  overflow: hidden;
  height: 100%;
}


.reviews {
    height: 450px;
    width: 600px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

@media (max-width:1100px){
  .testimonial-div{
    padding-top: 30px;
  }
  .testimonial-con {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width:650px){
  iframe {
    width: 70%;
  }
  .reviews {
    height: 410px;
    scale: 0.7;
  }
  #testimonial-ad {
    min-width: 250px;
  }
}

  /* sixth section motivation */

  .motivation {
    background-color: #525FE1;
    width: 100vw;
    padding: 150px 50px;
    display: flex;
    text-align: center;
    justify-content: center;
    overflow: hidden;
  }
  .motivation-con {
    width: fit-content;
    max-width:65%;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
  }

  .motivation-con hr {
    margin: 20px 0;
  }

  .motivation-con h4 {
    color: white;
    font-weight: 800;
    margin-bottom: 5px;
    letter-spacing: 2px;
  }
  .motivation-con h1 {
    color: white;
    font-weight: 800;
    font-size: 40px;
  }

  #shape4 {
    right: -5%;
    bottom: 30%;
    z-index: -1;
  }

  #shape8 {
    left: -8%;
    bottom: 20%;
    z-index: -1;
  }

  @media(max-width:800px) {
    .motivation {
      padding: 20% 20px;
    }
    .motivation-con {
      min-width: 85vw;
    }

    .motivation-con h1 {
      font-size: 30px;
    }
  }

  /* seventh section why choose us */

  .why-choose-us {
    width: 100vw;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 200px;
    padding: 20px;
  }

  .why-choose-us-left {
    width: fit-content;
    position: relative;
    z-index: 1;
  }

  .why-choose-us-left h1 {
    font-size: max(2vw,30px);
    font-weight: bolder;
    font-family: "Cabin", sans-serif;
    margin-bottom: 50px;
  }

  .why-choose-us-left h4 {
    color: rgb(82,95,225);
    letter-spacing: 1px;
    font-weight: 800;
  }

.feature-img1, .feature-img2 {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 100px;
  }

  .feature-img-div img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    margin-bottom: 30px;

  }

  .feature-img-div {
    width: 200px;
  }

  .feature-img-div p {
    font-weight: 700;
    font-size: 18px;
  }

  .why-choose-us-right {
    width: fit-content;
    height: fit-content;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .spinning-circle1 {
    height: 31vw;
    width: 31vw;
    /* min-width: 500px;
    min-height: 500px; */
    border: 2px solid #fc8e4f;
    position: absolute;
    border-radius: 58% 42% 34% 66% / 50% 43% 57% 50%  ;
    animation: chakra 9s infinite linear;
    z-index: -1;
  }
  .spinning-circle2 {
    height: 31vw;
    width: 31vw;
    /* min-width: 500px;
    min-height: 500px; */
    border: 2px solid #fc8e4f;
    position: absolute;
    border-radius: 33% 67% 27% 73% / 52% 50% 50% 48%  ;
    animation: chakra2 9s infinite linear;
    z-index: -1;
  }
  #inside-circle {
    width: 31vw;
    /* min-width: 500px;
    min-height: 500px; */
    border-radius: 100% 55% 85% 69% / 64% 43% 97% 81% ;
    z-index: 2;
  }
  .play-button {
    left: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.4);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 50%;
    z-index: 2;
  }

  .play-button-anim1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.4);
    border-radius: 50%;
    animation: wave-anim 2s infinite linear ;
    z-index: 2;
  }
  .play-button-anim2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.4);
    border-radius: 50%;
    animation: wave-anim 2s infinite linear;
    animation-delay: 1s;
    z-index: 2;
  }


#shape20 {
  right: -30%;
  top: 0;
}

#shape25 {
  left: -50%;
  bottom: 10%;
  animation: chakra2 15s infinite linear;
}

#shape26 {
  right: -30%;
  bottom: 10%;
}


@media (max-width:1150px) {
  .why-choose-us {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin: 50px auto;
  }
  .why-choose-us-right {
    width: 100%;
  }
  .spinning-circle1,.spinning-circle2, #inside-circle {
    width: 70vw;
    height: 70vw;
    max-width: 500px;
    max-height: 500px;
  }

}

@media(max-width:500px){
  .why-choose-us-left {
    justify-content: center;
    align-items: center;
  }
  .feature-img1, .feature-img2 {
    flex-direction: column;
  }
  .why-choose-us-left h4, .why-choose-us-left h1 {
    width: 100%;
  }
}



/* eighth section blog */


  .blog-div {
    width: 100vw;
    background-color: #ede5f2;
    background-image: linear-gradient(24deg, #ede5f2 0%, #ffecdb 50%, #f0e9f1 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
  }

  .blog-con {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    max-width: 85%;
    padding: 0 10%;
    position: relative;
    z-index: 1;
  }

  .blog-first-line, .blog-second-line {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
  }
  .blog-con .blog {
    width: 30vw;
    min-width: 400px;
    height: fit-content;
    background-color: #fff;
    padding: 35px;
    border-radius: 5px;
  }

  .blog h1 {
    font-size: max(1.7vw,20px);
    font-weight: bolder;
    font-family: "Cabin", sans-serif;
    transition: 0.3s ease-in-out;
    cursor: pointer;
  }

  .blog p {
    color: #898793;
    margin: 35px auto;

  }
  .blog h1:hover {
    color: rgb(82,95,225);
  }

  .blog i {
    margin-right: 10px;
  }

  .blog-img {
    border-radius: 5px;
    overflow: hidden;

  }

  .blog img {
    display: block;
    transition: 0.3s ease-in-out;
    width: 100%;
  }

  .blog:hover img {
    scale: 1.1;
  }

  .blog-heading-con {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

  .blog-heading-con button {
    font-family: "Cabin", sans-serif;
    font-size: max(1vw,14px);
    font-weight: bolder;
    background-color: rgb(82,95,225);
    border: none;
    color: white;
    padding: 15px 20px;
    height: fit-content;
    border-radius: 5px;
    display: flex;
    gap: 20px;
    align-items: center;
    transition: 0.3s ease-in-out;
  }

  .blog-heading-con button:hover {
    background-color: rgb(0, 0, 53);
  }


  .blog-heading h4 {
    color: rgb(82,95,225);
    letter-spacing: 1px;
    font-weight: 800;
  }

  .blog-heading h1 {
    font-size: max(2.2vw,20px);
    font-weight: bolder;
    font-family: "Cabin", sans-serif;
  }



  #shape24 {
    right: 0;
    bottom: -50px;
  }

  #shape27 {
    right: 0;
    top: -100px;
  }
  #shape28 {
    left: 0;
    bottom: -100px;
  }

  #shape11 {
    left: 0;
    top: -50px;
    animation: running-anim 10s linear infinite;
  }

@media(max-width:1100px){
  .blog-con .blog {
    width: 25vw;
    min-width: 300px;
    height: fit-content;
    background-color: #fff;
    padding: 25px;
    border-radius: 5px;
  }
}
@media(max-width:700px){
  .blog-first-line, .blog-second-line {
    display: flex;
    flex-direction: column;
  }

  .blog-con .blog {
    width: 100%;
  }

  .blog-heading-con, .blog-heading {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }

  .blog-heading h1 {
    font-size: 30px;
    margin-top: 20px;
  }
}







   /* ninth and last section footer */

  .footer {
    background-color: #231E3F;
    width: fit-content;
    height: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 50px;
    gap: 50px;
    overflow: hidden;
    width: 100vw;
  }

 .footer::before {
    content: "";
    position: absolute;
    background-image: url('./footer.png');
    background-size: 120px 120px;
    opacity: 0.07;
    height: 100%;
    width: 100%;
 }

 .footer-content {
    display: flex;
    padding: 20px;
    gap: 100px;
 }


 .footer-content h2 {
    font-size: max(1.3vw,20px);
    font-weight: bolder;
 }

 .footer-content li {
    list-style: none;
    display: flex;
    gap: 15px;
    align-items: center;
 }

 .first {
  width: 15vw;
  min-width: 200px;
 }

 .first,.second,.third,.fourth {
    display: flex;
    flex-direction: column;
    gap: 25px;
 }

 .first img {
    width: 13vw;
    min-width: 200px;
 }
 .first p {
    font-size: max(0.9vw,16px);
 }

 .social-icons {
  display: flex;
 }

 .social-icons i {
    background-color: rgba(255, 255, 255, 0.123);
    padding: max(0.5vw,15px);
    border-radius: 5px;
    margin-left: 9px;
    font-size: max(1.2vw, 16px);
 }


 @media (max-width:1000px) {
  .footer-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
 }
 @media (max-width:550px) {
  .footer-content {
    display: flex;
    flex-direction: column;
  }
 }







@media (max-width:1600px) {
    .navbar img {
        left: 5%;
    }

    .navbar ul {
        right: 10%;
    }
}

@keyframes chakra {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}
@keyframes chakra2 {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes running-anim {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(100px);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes textanim {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}


@keyframes wave-anim {
    0% {
        height: 30px ;
        width: 30px;
        border: 1px solid white;
        opacity: 0.9;
    }
   25% {
    opacity: 1;
    border: 1.5px solid white;
   }
   50% {
    opacity: 1;
    border: 1.8px solid white;
   }
   75% {
    opacity: 0.9;
    border: 2px solid white;
   }
    100% {
        height: 100px;
        width: 100px;
        opacity: 0.1;
        border: 1.5px solid white;
    }
}

