
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Hind:wght@300;400;500;600;700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}

.header {
    min-height: 100vh;
    width: 100vw;
    background-color: #ede5f2;
    background-image: linear-gradient(24deg, #ede5f2 0%, #ffecdb 50%, #f0e9f1 100%);
    padding-bottom: 50px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    padding-top: 35px;
    gap: 20px;
}

.navbar img {
    height: 70px;
}

.navbar ul{
    display: flex;
    gap: 45px;
    margin-top: 20px;
}

.navbar ul li {
    list-style: none;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 650;
    color: rgb(42, 44, 47);
    font-size: 15.5px;
}

.back-img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.shape1 {
    position: absolute;
    left: 10%;
    top: 25%;
}

.shape2 {
    position: absolute;
    left: -12%;
    top: -12%;
}
.shape3 {
    position: absolute;
    right: 10%;
    top:20%;
}

.shape5 {
    position: absolute;
    bottom: 7%;
    left: 55%;
}

.shape6 {
    position: absolute;
    left: 3%;
    top: 30%;
}

.shape7 {
    position: absolute;
    left: 6%;
    bottom: 8%;
}

.homepage {
    font-family: "Nunito Sans", sans-serif;
    display: flex;
    justify-content: center;
    gap: 50px;
    position: relative;
}


.homepage .left {
    padding-top: 70px;
    padding-left: 50px;
    width: 32%;
}

.left h4 {
    color: rgb(82,95,225);
    letter-spacing: 1px;
    font-weight: 800;
}

.left h1 {
    font-size: max(3.6vw,2rem);
    font-weight: 800;
    animation: textanim 1s ease;
}

.homepage #third {
    color: rgb(111,107,128);
    font-size: 20px;
    border-left: 2px solid rgb(82,95,225);
    padding-left: 1rem;
    margin-top: 1rem;
}
.homepage #fourth {
    width: 90%;
    margin-top: 60px;
    animation: textanim 1s ease;
}


.right {
    display: flex;
    align-items: end;
    gap: 20px;
    margin-top: 80px;
    padding-bottom: 50px;
    position: relative;
}

.right .ad {
    display: flex;
    width: fit-content;
    flex-direction: column;
    gap: 20px;
    align-items: flex-end;
    position: relative;
}

.right .ad .course {
    height: fit-content;
    width: 269px;
    background-color: white;
    border-radius: 5px;
    border: 15px solid white;
}

.course .image-con {
    height: 47.5%;
    width: 100%;
    overflow: hidden;
    border-radius: 3px;

}

.image-con img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: 0.5s ease;
    cursor: pointer;
}

.course:hover img {
    scale: 1.1;
}

.course p, .login p {
    margin: 22px auto;
    font-size: 17px;
    font-family: "Cabin", sans-serif;
    font-weight: bolder;
    letter-spacing: 1px;
    transition: 0.5s ease;
    cursor: pointer;
}

.course button, .login button {
    padding: 10px;
    background-color: rgb(247,111,4);
    color: #fff;
    border: none;
    border-radius: 5px;
    display: flex;
    gap: 12px;
    font-family: "Cabin", sans-serif;
    font-size: 14.5px;
    transition: 0.5s ease;
    cursor: pointer;
}

.course button:hover, .login button:hover {
    background-color: rgb(82,95,225);
}

.course p:hover {
    color: rgb(82,95,225);
}

.right .ad .login {
    height: 190px;
    width: 190px;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
}

.shape4 {
    position: absolute;
    right: -60px;
    bottom: 15px;
    z-index: 0;
}

.whatsapp {
    z-index: 1;
}



/* about container */

.about-container {
    display: flex;
    justify-content: center;
    gap: 8%;
    padding: 100px;
    font-family: "Nunito Sans", sans-serif;
}

.about-us h4 {
    color: rgb(82,95,225);
    letter-spacing: 1px;
    font-weight: 800;
}

.about-us p {
    width: 30vw;
    margin-top: 15px;
    color: rgb(61, 57, 57);
}

.pictures {
    position: relative;
}

.pictures #second {
    position: absolute;
    bottom: -10%;
    right: -10%;
    border-radius: 5px;
}
.pictures #third {
    position: absolute;
    padding: 10px;
    background-color: rgb(255, 255, 255,0.5);
    backdrop-filter: blur(4px);
    border-radius: 50%;
    top: 40px;
    left: -15%;
    animation: chakra 7s infinite linear;  
}

.pictures #shape4-1 {
    position: absolute;
    bottom: -30px;
    left: -30px;
    z-index: -1;
}

.about-us button {
    background-color:  rgb(82,95,225);
    color: white;
    padding: 20px 30px;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    display: flex;
    gap: 15px;
    margin-top: 50px;
}

.running img {
    animation: running-anim 10s linear infinite; 
    position: absolute; 
    right: 50px;
}


/* course container  */

.course-div {
    align-items: center;
    background-color: #ede5f2;
    background-image: linear-gradient(24deg, #ede5f2 0%, #ffecdb 50%, #f0e9f1 100%);
    min-height: 70vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 55px;
}

.course-container {
    display: flex;
    justify-content: center;
    position: relative;
    gap: 7vw;
    min-height: fit-content;
    width: fit-content;
}

.course1, .course2, .course3 {
    height: 270px;
    width: 270px;
    border-radius: 5px;
    position: relative;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s ease-in-out;
}

#shape4-1repeat {
    position: absolute;
    left: 101%;
    transform: translateY(50%);
    width: 90px;
}

.course1:hover, .course2:hover, .course3:hover {
    transform: translateY(-15px);
}

.course1::after, .course2::after, .course3::after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: rgb(82,95,225);
    width: 0;
    left: 0;
    bottom: 0;
    transition: 0.3s ease-in-out;
}

.course1:hover::after, .course2:hover::after, .course3:hover::after {
   width: 100%;
}

.course-container h3 {
    padding-bottom: 50px;
}

.course-container img {
    width: 100%;
}

.heading {
    font-weight: 800;
    letter-spacing: 2px;
    color: rgb(82,95,225)
}

#shape8 {
    position: absolute;
    width: 200px;
    left: 110%;
    top: -120px;
}

#shape3-1{
    position: absolute;
    width: 110px;
    right: 115%;
    top: -120px;
}

#shape3-2{
    position: absolute;
    width: 50px;
    right: 115%;
    bottom: -70px;
}

/* popular course  */


.popular-course-div {
    width: 100vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 100px 20px;
}

.popular-course {
    display: flex;
    margin-top: 20px;
    gap: 1.5vw;
    justify-content: center;
    width: fit-content;
    position: relative;
}


.popular-course-div h1 {
    font-size: max(2.7rem,20px);
    font-weight: bolder;
    font-family: "Cabin", sans-serif;
}

.popular-course-div h4 {
    color: rgb(82,95,225);
    letter-spacing: 1px;
    font-weight: 800;
}
.cca, .com, .dom {
    padding: 22px;
    border-radius: 5px;
    position: relative;
    width: 370px;
    height: 440px;
    background-color: #F5F5F5;
}

.cca img, .com img, .dom img {
    transition: 0.3s ease-in-out;
}
.cca .course-img-div,.com .course-img-div,.dom .course-img-div {
    width: 100%;
    height: fit-content;
    overflow: hidden;
    border-radius: 5px;
}

.cca:hover img, .com:hover img, .dom:hover img {
    scale: 1.1;
}

#shape9 {
    position: absolute;
    right: 112%;
    top: -50px;
}
#shape10 {
    position: absolute;
    left: 112%;
    top: -50px;
    animation: running-anim 10s infinite linear;
}
#shape11 {
    position: absolute;
    left: 106%;
    bottom: 20px;
}

#shape12 {
    position: absolute;
    right: 112%;
    top: 40%;
    animation: running-anim 10s infinite linear;
}

.popular-course i {
    padding-top: 20px;
    float: right;
}

.rating {
    color: rgb(142,139,155);
    font-weight: 400;
    padding-left: 10px;
}

.course-price {
    height: fit-content;
    position: absolute;
    bottom: 30px;
}

.discounted {
    padding: 7px 16px;
    background-color: rgb(82,95,225);
    color: white;
    font-weight: 700;
    border-radius: 5px;
    margin-right: 20px;
    cursor: default;
}
.mrp {
    text-decoration: line-through;
    color: rgb(142,139,155);
    font-weight: 400;
    cursor: default;
}

.popular-course p {
    font-size: 19px;
    font-weight: 700;
    margin: 50px 0 20px;
    text-align: left;
    cursor: pointer;
    transition: 0.3s ease;
}

.popular-course p:hover {
    color: rgb(82,95,225);
}

.testimonial-div {
    background-color: #ede5f2;
    background-image: linear-gradient(24deg, #ede5f2 0%, #ffecdb 50%, #f0e9f1 100%);
    width: 100vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.testimonial-con {
    width: fit-content;
    display: flex;
    gap: 10%;
}

.reviews {
    height: 50vh;
    width: 30vw;
    background-color: teal;
    position: relative;
    overflow: hidden;
    padding: 50px;
}

.student {
    width: 80%;
    height: 80%;
    background-color: yellow;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.active {
    display: block;
  }

  .previous {
    transform: translateX(-100%);
  }

  /* motivation */

  .motivation {
    background-color: #525FE1;
    width: 100vw;
    padding: 150px 50px;
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .motivation-con {
    width: fit-content;
    max-width:65%;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .motivation-con hr {
    margin: 20px 0;
  }

  .motivation-con h4 {
    color: white;
    font-weight: 800;
    margin-bottom: 5px;
  }
  .motivation-con h1 {
    color: white;
    font-weight: 800;
    font-size: 40px;
  }

  #shape2-2 {
    position: absolute;
    width: 90px;
    right: -30px;
    top: 60px;
  }

  #shape3-3 {
    position: absolute;
    width: 90px;
    left: -80px;
    top: 70px;
  }

  .why-choose-us {
    width: 100vw;
    min-height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .why-choose-us-con {
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 10vw;
    position: relative;
  }

  .why-choose-us-left {
    width: 24vw;
  }

  .why-choose-us-left h1 {
    font-size: max(2.5rem,20px);
    font-weight: bolder;
    font-family: "Cabin", sans-serif;
    margin-bottom: 50px;
  }

  .why-choose-us-left h4 {
    color: rgb(82,95,225);
    letter-spacing: 1px;
    font-weight: 800;
  }

  .why-choose-us-left .feature-img {
    display: flex;
    justify-content: space-evenly;
    gap: 60px;
    flex-wrap: wrap;
    
  }

  .feature-img img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    margin-bottom: 30px;
  }

  .feature-img-div {
    width: 200px;
  }

  .feature-img p {
    font-weight: 700;
    font-size: 18px;
  }

  .why-choose-us-right {
    width: fit-content;
    height: fit-content;
    position: relative;

  }

  .spinning-circle1 {
    height: 610px;
    width: 610px;
    border: 2px solid #fc8e4f;
    position: absolute;
    border-radius: 58% 42% 34% 66% / 50% 43% 57% 50%  ;
    animation: chakra 9s infinite linear;
    z-index: -1;
  }
  .spinning-circle2 {
    height: 610px;
    width: 610px;
    border: 2px solid #fc8e4f;
    position: absolute;
    border-radius: 33% 67% 27% 73% / 52% 50% 50% 48%  ;
    animation: chakra2 9s infinite linear;
    z-index: -1;
  }
  #inside-circle {
    border-radius: 100% 55% 85% 69% / 64% 43% 97% 81% ;
    z-index: 2;
  }
  .play-button {
    left: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.4);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 50%;

  }

  .play-button-anim1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.4);
    border-radius: 50%;
    animation: wave-anim 2s infinite linear ;
  }
  .play-button-anim2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.4);
    border-radius: 50%;
    animation: wave-anim 2s infinite linear;
    animation-delay: 1s;
  }

  #shape11-1 {
    position: absolute;
    right: -15%;
    top: 0;
  }

  #shape14 {
    position: absolute;
    left: -15%;
    bottom: 20px;
    animation: chakra2 15s linear infinite;
  }

  #shape15 {
    position: absolute;
    right: -15%;
    bottom: 20px;
  }

  .blog-div {
    width: 100vw;
    background-color: #ede5f2;
    background-image: linear-gradient(24deg, #ede5f2 0%, #ffecdb 50%, #f0e9f1 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    overflow: hidden;
  }

  .blog-con {
    display: flex;
    gap: 30px;
    justify-content: center;
    max-width: 85%;
    padding: 0 10%;
    flex-wrap: wrap;
    position: relative;
  }

  .blog-con .blog {
    width: 30vw;
    height: fit-content;
    background-color: #fff;
    padding: 35px;
    border-radius: 5px;
  }

  .blog h1 {
    font-size: max(1.7vw,20px);
    font-weight: bolder;
    font-family: "Cabin", sans-serif;
    transition: 0.3s ease-in-out;
    cursor: pointer;
  }

  .blog p {
    color: #898793;
    margin: 35px auto;

  }
  .blog h1:hover {
    color: rgb(82,95,225);
  }

  .blog i {
    margin-right: 10px;
  }

  .blog-img {
    border-radius: 5px;
    overflow: hidden;

  }

  .blog img {
    transition: 0.3s ease-in-out;
  }

  .blog:hover img {
    scale: 1.1;
  }

  .blog-heading-con {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

  .blog-heading-con button {
    font-family: "Cabin", sans-serif;
    font-size: max(1vw,10px);
    font-weight: bolder;
    background-color: rgb(82,95,225);
    color: white;
    padding: 15px 20px;
    height: fit-content;
    border-radius: 5px;
    display: flex;
    gap: 20px;
    align-items: center;
    transition: 0.3s ease-in-out;
  }

  .blog-heading-con button:hover {
    background-color: rgb(0, 0, 53);
  }


  .blog-heading h4 {
    color: rgb(82,95,225);
    letter-spacing: 1px;
    font-weight: 800;
  }

  .blog-heading h1 {
    font-size: max(2.2vw,20px);
    font-weight: bolder;
    font-family: "Cabin", sans-serif;
  }

  #shape17 {
    position: absolute;
    bottom: -50px;
    left: 0;
    overflow: hidden;
  }

  #shape13-3 {
    position: absolute;
    right: 0;
    bottom: -50px;
  }

  #shape15-2 {
    position: absolute;
    right: 0;
    top: -100px;
  }

  #shape4-2 {
    position: absolute;
    left: 0;
    top: -50px;
    animation: running-anim 10s linear infinite;
  }

   /* last sec */

  .footer {
    background-color: #231E3F;
    width: 100vw;
    height: fit-content;
    position: relative;
  }

 .footer::before {
    content: "";
    position: absolute;
    background-image: url('./footer.png');
    background-size: 120px 120px;
    opacity: 0.1;
    height: 100%;
    width: 100%;
 }

 .footer-content {
    padding: 50px;
 }

 .first img {
    width: 13vw;
 }

@media (max-width:1600px) {
    .navbar img {
        left: 5%;
    }

    .navbar ul {
        right: 10%;
    }
}

@keyframes chakra {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}
@keyframes chakra2 {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes running-anim {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(100px);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes textanim {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}


@keyframes wave-anim {
    0% {
        height: 30px ;
        width: 30px;
        border: 1px solid white;
        opacity: 0.9;
    }
   25% {
    opacity: 1;
    border: 1.5px solid white;
   }
   50% {
    opacity: 1;
    border: 2px solid white;
   }
   75% {
    opacity: 0.9;
   }
    100% {
        height: 100px;
        width: 100px;
        opacity: 0.1;
    }
}
